.Form {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    margin: 1rem auto;
    padding-bottom: 1.5rem;
}
.Form h2 {
    color: #0F2546;
    text-align: center;
    margin: 0;
    padding: 1rem;
}
.Input {
    display: block;
    margin: auto;
}
.ErrorMsg {
    width: 300px;
    margin: 1rem auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    color: #dd355e;
    left: 0;
    right: 0;
    display: fixed;
}