.ActivitySquare {
    width:  160px;
    height: 160px;
    box-shadow: 1px 2px 2px 1px black;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 18% 2% 10% 2%;
    margin: 2% 2% 4% 2%;
    cursor: pointer;
    background-color: #13DFBA;
    font-size: 1.3rem;
}

.ActivitySquare:hover {
    background-color: #DD355E;
    color: white;
}

@media (min-width: 500px) {
    .ActivitySquare {
        width:  200px;
        height: 200px;
        margin: 10px;
        padding: 10% 2% 10% 2%;
    }
}