.modal {
    width: 90%;
    height: 80%;
    margin: auto;
    position: fixed;
    z-index: 200;
    border-radius: 15px 15px 15px 15px;
    max-width: 700px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10%;
    box-sizing: border-box;
    font-size: 1.5rem;
}
.modal.red {
    background-color: #DD355E;
    color: white;
}

.modal.white {
    background-color: white;
    color: #0F2546;
}
@media (min-width: 500px) {
    .modal {
        width: 70%
    }
}
@media (max-width: 350px) {
    .modal {
        height: 95%;
    }
}
@media (min-width: 2000px) {
    .modal {
        padding: 2%;
    }
}