.Modal {
    width: 90%;
    height: fit-content;
    margin: auto;
    position: fixed;
    z-index: 200;
    border-radius: 15px 15px 15px 15px;
    max-width: 700px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10%;
    box-sizing: border-box;
    font-size: 1.5rem;
    transition: 0.5s ease-out;
}
.Modal_red {
    background-color: #DD355E;
    color: white;
}

.Modal_white {
    background-color: white;
    color: #0F2546;
}
@media (min-width: 500px) {
    .Modal {
        width: 70%
    }
}
@media (max-width: 350px) {
    .Modal {
        height: 95%;
    }
}
@media (min-width: 2000px) {
    .Modal {
        padding: 2%;
    }
}
@media (max-height: 700px) {
    .Modal {
        height: 100vh;
        overflow-y: scroll;
    }
}