.Button {
    width: auto;
    height: auto;
    box-shadow: 1px 2px 2px 1px grey;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
    padding: 10% 10% 10% 10%;
    margin: 2% 2% 4% 2%;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: white;
    color: black;
}

.Button:hover {
    background-color: #DD355E;
    color: white;
}

@media (min-width: 500px) {
    .Button {
        width:  auto;
        height: auto;
        margin: 10px;
        padding: 10% 2% 10% 2%;
    }
}