.UserContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.Challenges {
    background-color: #DD355E;
    border-radius: 15px;
    text-align: center;
    padding: 1.3rem;
    box-sizing: border-box;
}
.ActivitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Achivments {
    background-color: #0F2546;
    border-radius: 15px;
    margin-top: 1rem;
    text-align: center;
    padding: 1.3rem;
    box-sizing: border-box;
}
.Header {
    font-size: 2rem;
    color: white;
}
@media (min-width: 600px) {
    .UserContainer {
        width: 70%;
    }
    
    .ActivitiesContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.GraphicLeft {
    left: 0;
    bottom: 0;
    z-index: -100;
    position: fixed;
    width: 25vh;
}
.GraphicRight {
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: -100;
    position: fixed;
}