.UserContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.ChallengesContainer {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 1.3rem;
    box-sizing: border-box;
    margin-top: 3rem;
}
.ActivitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    font-size: 2rem;
    color: #0F2546;
}
@media (min-width: 600px) {
    .UserContainer {
        width: 70%;
    }
    
    .ActivitiesContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
}