.Conversation {
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 1000px;
    width: 95%;
    background-color: #0F2546;
}


.introductionContainer {
    display: flex;
    flex-direction: column;
}
.title {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    -webkit-text-stroke: 2px white;
    color: #0F2546;
    letter-spacing: 10px;
    padding: 4rem;
    margin: 0 0 0 0;
}
.description {
    color: #13DFBA;
    size: 1.2rem;
    text-align: right;
}
.MobileButtonsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.DesktopButtonsContainer {
    display: none;
}

@media (min-width: 800px) {
    .Conversation {
        width: 80%;
    }
    .introductionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .MobileButtonsContainer {
        display: none;
    }
    .DesktopButtonsContainer {
        display: flex;
    }
}
@media (min-width: 1150px) {
    .DesktopButtonsContainer {
        display: flex;
        flex-direction: column;
    }
}