.Container {
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 1000px;
    width: 95%;
    background-color: #0F2546;
    height: 100%;
}


.Container-Introduction {
    display: flex;
    flex-direction: column;
}
.Container-Title {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    -webkit-text-stroke: 2px white;
    color: #0F2546;
    letter-spacing: 10px;
    padding: 4rem;
    margin: 0 0 0 0;
}
.Container-Description {
    color: #13DFBA;
    size: 1.2rem;
    text-align: right;
}
.Container-Btn_mobile {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.Container-Btn_desktop {
    display: none;
}

@media (min-width: 800px) {
    .Container {
        width: 80%;
        height: 80vh;
    }
    .Container-Introduction {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .Container-Btn_mobile {
        display: none;
    }
    .Container-Btn_desktop {
        display: flex;
    }
}
@media (min-width: 1150px) {
    .Container-Btn_desktop {
        display: flex;
        flex-direction: column;
    }
}
.Container-Image {
    min-width: 350px;
    max-width: 700px;
}