.CategoryList {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.Header {
    text-align: center;
    font-size: 2rem;
}

@media (min-width: 500px) {
    .CategoryList {
        display: flex;
        width: 70%;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media (min-width: 1500px) {
    .CategoryList {
        flex-grow: 1;
    }
}