
.Container {
    width:  160px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 10% 2% 10% 2%;
    margin: 2% 2% 4% 2%;
    cursor: pointer;
}
.Container.Activity {
    height: 160px;
    font-size: 1.3rem;
}
.Container.Category {
    height: auto;
    font-size: 1.5rem;
}
@media (min-width: 500px) {
    .Container.Activity {
        width:  200px;
        height: 200px;
        margin: 10px;
        padding: 10% 2% 10% 2%;
    }
    .Container.Category {
        width:  200px;
        height: auto;
        margin: 10px;
        padding: 10% 2% 10% 2%;
    }
}

/*colorStyle*/
.greenOnGreen {
    background-color: #0F2546;
    border: 1px solid #13DFBA;
    color: #13DFBA;
}
.greenOnGreen:hover {
    background-color: #13DFBA;
    color: #0F2546;
}
.whiteOnWhite {
    background-color: #0F2546;
    border: 1px solid white;
    color: white;
}

.White {
    background-color: white;
    color: #0F2546;
}
.White:hover {
    background-color: #13DFBA;
    color: #0F2546;
}
.Navy {
    border: 1px solid #0F2546;
    color: #0F2546;
}
.Navy:hover {
    border: 1px solid #13DFBA;
    color: #0F2546;
    background-color: #13DFBA;
}