.Footer {
    margin: 0;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.Footer p {
    color: white;
}
